 /* ==========
Barra de navegação
========== */

nav ul a,
nav .brand-logo {
  color: #444;

}

nav #logo-container{
margin-top: 1%;
margin-bottom: 1%;
}


.sidenav-trigger {
    color: #26a69a;
  }

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
 /* ==========
Fim Barra de navegação
========== */


 /* ==========
Banner
========== */
p {
  line-height: 2rem;
}


@media only screen and (max-width : 992px) {
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }

 /* ==========
Parallax
========== */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

/* ==========
Fim Banner
========== */

/* ==========
Seção 4
========== */

.secao-4-article { /*centraliza o texto em cima da foto*/
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
@media screen and (max-width: 992px) { /*separa as imagens em telas menores*/
    .secao-4 .col + .col {
      margin-top: 20px;
    }
  }

/* ==========
Rodapé
========== */

footer.page-footer {
  margin: 0;
}

footer .social-media{
  display:inline-block
}

/* ==========
Rodapé
========== */

/* ==========
Seção 6
========== */

#formulario{
  margin: 20px auto;
}

/* ==========
Fim Seção 6
========== */
